[submodule "e/Programming/CPlusPlus/PomoPeak/PomoPeak/PomoPeak/libs"]
	path = e/Programming/CPlusPlus/PomoPeak/PomoPeak/PomoPeak/libs
	url = https://github.com/D7EAD/liboai.git
[submodule "PomoPeak/libs/curl"]
	path = PomoPeak/libs/curl
	url = https://github.com/curl/curl.git
